/*CSS Document*/
body {
  text-align: center;
 }
#survey-form {
  
  width:900px;
  margin: 0 auto;
  background-color: purple;
  color: white;
  }
.row-tab {
 display:block;
  padding-top:20px;
}

.label-car {
  display:inline-block;
  width: 40%;
  text-align: right;
  }

.input-car {
  display: inline-block;
  text-align: left;
  width:48%;
  }

.select-input {
  display:inline-block;
  text-align:left;
  width:48%;
  }
.label-select {
  display: inline-block;
  width: 40%;
  text-align: right;
    }
.labels-radio {
  display: inline-block;
  text-align:right;
  width:48%;
  vertical-align: top;
}
.input-radio {
  display: inline-block;
  text-align:left;
  width:48%
 
}
.checkbox-labels {
  display: inline-block;
  width: 40%;
  text-align: right;
  vertical-align: top;
}
.checkbox-input {
  display: inline-block;
  text-align:left;
  width:48%;
  }
.button {
  padding:10px;
}

